<h1>Lists</h1>

<strong>Acknowledgement</strong> : the contents of this notebook are partially based on the book <i>"Starting Out with Python (3rd Edition)"</i>.

<h3>Sequence</h3>
<p>A sequence is an object that holds multiple items of data, stored one after the other. The difference between lists and tuples is that list is <b>mutable</b>, whereas tuple is <b>immutable</b>. The difference between mutable and immutable objects is that the content of mutable objects can be modified inplace, whereas we cannot modify the content of immutable objects once they are defined.</p>

<p>Below are two examples of sequences of integers and strings, respectively.</p>

In [1]:
# sequences 
odd_numbers = [1,3,5,7,9,11]
print(odd_numbers)
print(type(odd_numbers))

[1, 3, 5, 7, 9, 11]
<class 'list'>

In [2]:
names = ['John','Marry','Tom','Taylor']
print(names)
print(type(names))

['John', 'Marry', 'Tom', 'Taylor']
<class 'list'>

<p>A sequence may contain elements of different types.</p>

In [3]:
info = ['Dominica', 27, 23000]
print(info)
print(type(info))

['Dominica', 27, 23000]
<class 'list'>

<h3>Lists</h3>
<p>A list is an object that contains multiple data items. Lists are mutable, i.e., their contents can be changed during a program's execution. Items may be added to them or removed from them.</p>

A <b>list()</b> function can be used to generate a list object. Below we generate a list of integer from 0 to 4 using a range() function.

In [5]:
numbers = list(range(1,19,2))
print(numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17]

<p>We can generate a list using the <b>repetition operator</b> which makes multiple copies of a list <br><br> 

Syntax: <i>list * n</i>
<br><br>
where n is an integer.</p>

In [8]:
numbers = [0]*5
print(numbers)

[0, 0, 0, 0, 0]

In [9]:
numbers = [1,2,3]*3
print(numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

<p>List is an iterable object. Hence, we can iterate over a list with the for loop.</p>

In [10]:
numbers = [3,5,7,9,11]
for n in numbers:
    print(n)

3
5
7
9
11

<h4>Indexing</h4>
<p>In Python, indexing starts at 0.</p>

In [11]:
my_list = [10,20,30,40]

print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])

10
20
30
40

<p>A negative number can also be used as an index.</p>

In [12]:
my_list = [10,20,30,40]

print(my_list[-1])
print(my_list[-2])
print(my_list[-3])
print(my_list[-4])

40
30
20
10

If the index is out of range, we get an <b>IndexError</b> exception.

In [13]:
print(my_list[4]) # index out of range: my_list has 4 elements so the last index is 3.

IndexError: list index out of range

<p>To get the length of a list, use the <b>len()</b> function. This function generally returns the length of a sequence.</p>

In [14]:
my_list = [10,20,30,40]
size = len(my_list)

print(size)

4

In [15]:
my_list = [10,20,30,40]
index = 0
while index < len(my_list):
    print(my_list[index])
    index += 1

10
20
30
40

<p>Since lists are mutable, we can modify the elements of the list.</p>

In [16]:
numbers = [1,2,3,4,5]
print(numbers)

# modify the first element of the list
numbers[0] = 99
print(numbers)

new_numbers = numbers

new_numbers[1] = 99
print(new_numbers)

print(numbers)

[1, 2, 3, 4, 5]
[99, 2, 3, 4, 5]
[99, 99, 3, 4, 5]
[99, 99, 3, 4, 5]

In [17]:
# create a list with 5 elements
numbers = [0]*5

# fill the list with the value 99
index = 0
while index < len(numbers):
    numbers[index] = 99
    index += 1
    
print(numbers)

[99, 99, 99, 99, 99]

<p>To concatenate lists, we can use + operator (or augmented assignment +=).</p>

In [18]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = list1+list2

print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
list1 = ['one','two','three']
list2 = ['four','five','six']
list3 = list1 + list2

print(list3)

['one', 'two', 'three', 'four', 'five', 'six']

In [20]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list1 += list2

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

<h4>List Slicing</h4>
<p>A slicing expression selects a range of elements from a sequence.<br><br>
Syntax: <i>list_name[start : end]</i>
</p>

In [21]:
days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
mid_days = days[2:5]

print(mid_days)

['Tuesday', 'Wednesday', 'Thursday']

In [22]:
# leave out the start index
numbers = [1,2,3,4,5]
print(numbers)
print(numbers[:3])

[1, 2, 3, 4, 5]
[1, 2, 3]

In [23]:
# leave out the end index
numbers = [1,2,3,4,5]
print(numbers)
print(numbers[2:])

[1, 2, 3, 4, 5]
[3, 4, 5]

In [24]:
# leave out both start and end index
numbers = [1,2,3,4,5]
print(numbers)
print(numbers[:])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [25]:
# slicing with step value
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers)
print(numbers[1:8:2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8]

In [26]:
# negative numbers as indexes
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers)
print(numbers[-5:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]

<h4>Finding items in lists with the <i>in</i> operator</h4>
<p>You can search for an item in a list using the in operator.</p>

In [28]:
# "item in list"? ... "item not in list"?

# create a list of students
student_names = ['Panatda','Vipop','Ploy','Napat']
    
# get a student name to search for
name = input("Enter a student's name : ")
    
# check if the student's name is in the list
if name in student_names:
    print(name,'was found in the list.')
else:
    print(name,'was not found in the list.')

Enter a student's name : Ploy
Ploy was found in the list.

<h4>List methods and useful build-in functions</h4>

<h4>The append method</h4>
<p>The append method appends an element to the list.<br><br>

Syntax: <i>list.append(new_element)</i>
</p>

In [32]:
# create an empty list
num_list = []
    
# get five numbers
for i in range(5):
    # get a number from the user.
    number = int(input('Enter a number : '))
        
    # append the number to the list
    num_list.append(number)
    
# display the numbers that were entered
#for num in num_list:
#    print(num)
print(num_list)

Enter a number : 1
Enter a number : 2
Enter a number : 3
Enter a number : 4
Enter a number : 5
[1, 2, 3, 4, 5]

<h4>The index method</h4>
<p>The index method returns an index of the specified element in the list. If the element is not found, a ValueError exception is raised.<br><br>
Syntax: <i>element_index = list.index(element)</i>
</p>

In [33]:
# create a list 
student_names = ['Atijit','Worathep','Sasivimol','Natcha']
    
# display the list
print(student_names)
    
# get the name of student who dropped out
drop_student = input('Who dropped out? ')
    
try:
    # get the index in the list
    student_index = student_names.index(drop_student)
        
    # get the name of new student
    new_student = input('Who is the new student? ')
        
    # replace the student who dropped out with the new student
    student_names[student_index] = new_student
        
    # display the list.
    print(student_names)
except ValueError:
    print('That student was not found in the list.')

['Atijit', 'Worathep', 'Sasivimol', 'Natcha']
Who dropped out? Natcha
Who is the new student? Trump
['Atijit', 'Worathep', 'Sasivimol', 'Trump']

<h4>The insert method</h4>
<p>The insert method inserts a specified element into a list at a desired location.<br><br>

Syntax: <i>list.insert(index, element)</i>
</p>

In [34]:
# create a list 
student_names = ['Pisit','Warangkana','Bundit','Pareena']
    
# display the list
print(student_names)
    
# insert a new student at element 0
student_names.insert(0,'Kanya')
    
print(student_names)

['Pisit', 'Warangkana', 'Bundit', 'Pareena']
['Kanya', 'Pisit', 'Warangkana', 'Bundit', 'Pareena']

<h4>The sort method</h4>
<p>The sort method sorts elements in the list in an ascending order. The sorting occurs inplace.</p>

In [35]:
my_list = [9,1,0,2,8,6,7,4,5,3]
print('Original order : ', my_list)
my_list.sort()
print('Sorted order : ', my_list)

Original order :  [9, 1, 0, 2, 8, 6, 7, 4, 5, 3]
Sorted order :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
my_list = ['beta','alpha','delta','gamma']
print('Original order : ', my_list)
my_list.sort()
print('Sorted order : ', my_list)

Original order :  ['beta', 'alpha', 'delta', 'gamma']
Sorted order :  ['alpha', 'beta', 'delta', 'gamma']

<h4>The remove method</h4>
<p>The remove method removes the specified element from the list. If the element is not found, a ValueError exception is raised.<br><br>

Syntax: <i>list.remove(element)</i>
</p>

In [37]:
# create a list 
student_names = ['Chaiyanon','Kanyarat','Nitchakarn','Pratipa']
    
# display the list
print(student_names)
    
# get the name of student who dropped out
drop_student = input('Who dropped out? ')
    
try:
    # remove the student's name from the list
    student_names.remove(drop_student)
        
    # display the list.
    print(student_names)
except ValueError:
    print('That student was not found in the list.')

['Chaiyanon', 'Kanyarat', 'Nitchakarn', 'Pratipa']
Who dropped out? Kanyarat
['Chaiyanon', 'Nitchakarn', 'Pratipa']

<h4>The reverse method</h4>
<p>The reverse method reverses the order of elements in the list.</p>

In [38]:
my_list = [1,2,3,4,5]
print('Original order : ', my_list)
my_list.reverse()
print('Reversed : ', my_list)

Original order :  [1, 2, 3, 4, 5]
Reversed :  [5, 4, 3, 2, 1]

<p>We can also use the <b>del</b> statement to delete an element from the list.</p>

In [ ]:
# the del statement : e.g., del my_list[2] 
my_list = [1,2,3,4,5]
print('Before deletion : ', my_list)

del my_list[2]

print('After deletion : ', my_list)

In [39]:
# the min and max functions
my_list = [5,4,3,2,50,40,30]
print('The lowest value is', min(my_list))
print('The highest value is', max(my_list))

The lowest value is 2
The highest value is 50

<h4>Copying Lists</h4>
<p>To make a copy of a list, you must copy the list's element. Below is an incorrect way of copying a list.</p>

In [40]:
# reference the same list
list1 = [1,2,3,4]
list2 = list1
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [41]:
list1[0] = 99
print(list1)

[99, 2, 3, 4]

In [42]:
print(list2)

[99, 2, 3, 4]

In [44]:
print(id(list1),id(list2))

4488377544 4488377544

<p>To make a copy of the list, we must copy each element of the list.</p>

In [45]:
list1 = [1,2,3,4]
list2 = []

# copy the elements of list1 to list2
for item in list1:
    list2.append(item)
    
print(list2)

[1, 2, 3, 4]

In [46]:
print(id(list1),id(list2))

4488371144 4488264968

In [ ]:
# another way to copy list
list1 = [1,2,3,4]
list2 = []+list1
print(list2)

<h3>Processing Lists</h3>
<p>List is an important data structure in Python. We can process lists in numerous ways using methods and tools introduced earlier. Some examples are given below.</p>

<h4>Totalling the values in a list</h4>

In [47]:
# create a list 
numbers = [2,4,6,8,10]
    
# create a variable to use as an accumulator
total = 0
    
# calculate the total of the list elements
for value in numbers:
    total += value
        
# display the total of the list elements.
print('The total is',total)

The total is 30

In [48]:
numbers = [2,4,6,8,10]
total = sum(numbers)
print('The total is', total)

The total is 30

<h4>Averaging the values in a list</h4>

In [49]:
# create a list 
numbers = [2,4,6,8,10]
    
# create a variable to use as an accumulator
total = 0
    
# calculate the total of the list elements
for value in numbers:
    total += value
    
# calculate the average of the elements
average = total / len(numbers)
    
# display the total of the list elements.
print('The average is',average)

The average is 6.0

In [50]:
numbers = [2,4,6,8,10]
average = sum(numbers)/len(numbers)
print('The average is', average)

The average is 6.0

<h3>Two-Dimensional Lists</h3>
<p>A two-dimensional list is a list that has other lists as its elements.</p>

In [52]:
# example
numbers = [['one','two'],['three','four'],['five','six']]
print(numbers)

[['one', 'two'], ['three', 'four'], ['five', 'six']]

In [59]:
print(numbers[0])

['one', 'two']

In [54]:
print(numbers[1])

['three', 'four']

In [55]:
print(numbers[2])

['five', 'six']

In [60]:
# assign random numbers to a two-dimensional list.
import random

# create a two-dimensional list.
values = [[0,0,0,0],
          [0,0,0,0],
          [0,0,0,0]]
    
rows = len(values)
cols = len(values[0])
    
# fill the list with random numbers.
for r in range(rows):
    for c in range(cols):
        values[r][c] = random.randint(1,100)
            
# display the list.
print(values)

[[59, 61, 60, 46], [19, 33, 55, 83], [22, 61, 25, 29]]

<h3>Extra : List Comprehension</h3>
<p>List comprehension allows us to contruct lists in a natural and easy way. In mathematics, we can describe lists as follows:<br><br>
\begin{align*}
S &= \{x^2 : x \text{ in } \{0,1,\ldots,9\}\} \\
M &= \{x : x \text{ in } S \text{ and } x \text{ is even} \}
\end{align*}
<br>
Using list comprehension, the above two lists can be constructed as demonstrated below.
</p>

In [61]:
S = [x**2 for x in range(10)]
print(S)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
M = [x for x in S if x%2 == 0]
print(M)

[0, 4, 16, 36, 64]

In [64]:
my_list2 = [2**i for i in range(13)]
print(my_list2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

<p>We use list comprehension to find a list of prime numbers in an example below.</p>

In [65]:
noprimes = [j for i in range(2, 8) for j in range(i*2, 50, i)]
primes = [x for x in range(2, 50) if x not in noprimes]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]