<h1>Sets</h1>

<strong>Acknowledgement</strong> : the contents of this notebook are partially based on the book <i>"Starting Out with Python (3rd Edition)"</i>.

<p>A set contains a collection of unique values and work like a mathematical set.</p>

<h3>Creating a set</h3>
<p>We can create an empty set using <b>set()</b> function.</p>

In [1]:
myset = set()
myset

set()

<p>A <b>set()</b> function can also be used to convert other data types to set.</p>

In [2]:
# convert a list to set
myset = set(['a','b','c'])
myset

{'a', 'b', 'c'}

In [3]:
# convert a string to set
myset = set('abc')
myset

{'a', 'b', 'c'}

In [4]:
# no duplicate element
myset = set('aaaabc')
myset

{'a', 'b', 'c'}

In [5]:
myset = set('one two three')
myset

{' ', 'e', 'h', 'n', 'o', 'r', 't', 'w'}

In [6]:
# set of words
myset = set(['one','two','three'])
myset

{'one', 'three', 'two'}

In [7]:
# getting the number of elements
myset = set([1,2,3,4,5])
len(myset)

5

<h3>Adding and removing elements</h3>
<p>Sets are mutable objects, so we can add items to them and remove items from them. We can add elements to a set using <b>add()</b> and <b>update()</b> functions.</p>

In [8]:
# add a single element using add()
myset = set()
myset.add(1)
myset.add(2)
myset.add(3)
myset

{1, 2, 3}

In [9]:
myset.add(2)
myset

{1, 2, 3}

In [10]:
# add multiple elements using update()
myset = set([1,2,3])
myset.update([4,5,6])
myset

{1, 2, 3, 4, 5, 6}

In [11]:
set1 = set([1,2,3])
set2 = set([8,9,10])
set1.update(set2)

set1

{1, 2, 3, 8, 9, 10}

In [12]:
set2

{8, 9, 10}

<p>To remove elements from a set, we can use <b>remove()</b> and <b>discard()</b> functions. The remove method raises an exception when the specified item is not found in the set, whereas the discard method does not.</p>

In [13]:
myset = set([1,2,3,4,5])
myset

{1, 2, 3, 4, 5}

In [14]:
myset.remove(1)
myset

{2, 3, 4, 5}

In [15]:
myset.discard(5)
myset

{2, 3, 4}

In [18]:
myset.discard(99)
myset

{2, 3, 4}

In [19]:
try:
    myset.remove(99)
except KeyError:
    print('value not found.')

value not found.

<p>To clear all elements, we use <b>clear()</b> function.</p>

In [20]:
myset = set([1,2,3,4,5])
myset

{1, 2, 3, 4, 5}

In [21]:
myset.clear()
myset

set()

<h3>Using the for loop to iterate over a set</h3>

In [22]:
myset = set(['a','b','c'])
for val in myset:
    print(val)

c
a
b

<h3>Finding the union of sets</h3>
```python
set1.union(set2)
```

In [23]:
set1 = set([1,2,3,4])
set2 = set([3,4,5,6])
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6}

In [24]:
# using | operator
set1 = set([1,2,3,4])
set2 = set([3,4,5,6])
set3 = set1 | set2
set3

{1, 2, 3, 4, 5, 6}

<h3>Find the intersection of sets</h3>
```python
set1.intersection(set2)
```

In [25]:
set1 = set([1,2,3,4])
set2 = set([3,4,5,6])
set3 = set1.intersection(set2)
set3

{3, 4}

In [26]:
# using & operator
set1 = set([1,2,3,4])
set2 = set([3,4,5,6])
set3 = set1 & set2
set3

{3, 4}

<h3>Finding the difference of sets</h3>
```python
set1.difference(set2)
```

In [27]:
set1 = set([1,2,3,4])
set2 = set([3,4,5,6])
set3 = set1.difference(set2)
set3

{1, 2}

In [28]:
# using - operator
set1 = set([1,2,3,4])
set2 = set([3,4,5,6])
set3 = set1 - set2
set3

{1, 2}

<h3>Finding the symmetric difference of sets</h3>
```python
set1.symmetric_difference(set2)
```

In [29]:
set1 = set([1,2,3,4])
set2 = set([3,4,5,6])
set3 = set1.symmetric_difference(set2)
set3

{1, 2, 5, 6}

In [30]:
# using ^ operator
set1 = set([1,2,3,4])
set2 = set([3,4,5,6])
set3 = set1 ^ set2
set3

{1, 2, 5, 6}

<h3>Finding subsets and supersets</h3>

In [31]:
set1 = set([1,2,3,4])
set2 = set([2,3])

print(set1)
print(set2)

{1, 2, 3, 4}
{2, 3}

In [32]:
set2.issubset(set1)

True

In [33]:
set1.issuperset(set2)

True

In [34]:
# using <= and >=
set2 <= set1

True

In [35]:
set1 >= set2

True