<h1>Variables and types</h1>
<p>A variable is a name that represents a value stored in the computer's memory. To get started, below is a python code for printing a message "Hello World!" on the screen.</p>

In [1]:
print("Hello World!")

Hello World!

Python uses <b>data types</b> to categorize values in memory. In this course, we look at three primitive data types, namely, integer (int), floating-point number (float), and string (str).

In [2]:
# string data type
type("Hello World!")

str

In [3]:
# integer data type
type(28)

int

In [4]:
# floating point data type
type(5.5)

float

In [1]:
# string
type('this is string')

str

In [2]:
type("this is also' string")
print("this is also' string")

this is also' string

In [3]:
type("""this is again string""")

str

In [4]:
1000000

1000000

<h3>Variables</h3>
<p>In Python, variables can be thought of as name tags we assign to data of different types stored in the memory.</p>

In [5]:
# variable
message = "What's up?"
n = 17
pi = 3.14159

In [6]:
print(pi)

3.14159

In [7]:
17 = n # this is an invalid assignment statement. The lefthand side must be a variable.

SyntaxError: can't assign to literal (<ipython-input-7-1751d37505e8>, line 1)

In [8]:
n = 18
print(n)

18

<p>Python is a <b>strongly</b>, <b>dynamically</b> typed language, meaning that the type of a value does not suddenly change and only run-time objects have a type. Hence, we can re-assign the same variable to values of different types.</p>

In [2]:
some_var = 33 # integer
type(some_var)

int

In [3]:
some_var = 'this is a string.'
type(some_var)

str

<p>The rule of thumb for naming variables is that the variable names should reflect how the variables is going to be used. For example, $area=width*height$ is more informative than $z=x*y$. Although you can use any names for your variables, certain rules apply.</p>
<ul>
<li>You cannot use one of the Python's keywords as a variable name.</li>
<li>A variable name cannot contain spaces.</li>
<li>The first character must be one of the letters a through z, A through Z, or an underscore character (_).</li>
<li>After the first character you may use the letters a through z, A through Z, the digits 0 through 9, or underscores.</li>
<li>In Python, variable names are case-sensitive. That is, <i>score</i> and <i>Score</i> are two distinct variables.</li>
</ul>

In [10]:
class = "Computer Programming SCMA241" # Python keywords cannot be used as a variable name.

SyntaxError: invalid syntax (<ipython-input-10-c8e1bb021909>, line 1)

In [11]:
# here is a list of python keywords
import keyword 
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [6]:
# valid variable name
myName = 'Krikamol Muandet'
myAge = 27
_phone_number = '09692387XX'
Var123 = 20

In [7]:
# invalid variable name
2dGraph = 0
phone# = '22283894'

SyntaxError: invalid syntax (<ipython-input-7-d0da415701c1>, line 2)

In [4]:
# variable names are case-sensitive
score = 45
Score = 50

In [5]:
print(score,Score)

45 50

<p>Apart from storing values in memory and assigning variables to them, we can manipulation them in various ways through expressions and statements.</p>

<h1>Expressions and statements</h1>
<p>An expression is a combination of values, variables, operators, etc.</p>

In [12]:
1+1 # the value of this expression is 2

2

In [14]:
len("Hello") # this statement returns the length of the string "Hello"

5

In [15]:
17

17

<h3>Operators</h3>
<p>Here is a list of Python math operators that can be used to perform mathematical calculations.</p>
<ul>
<li>Addition: +</li>
<li>Subtraction: -</li>
<li>Multiplication: \*</li>
<li>Division: /</li>
<li>Integer division: //</li>
<li>Remainder: %</li>
<li>Exponentiation: \*\*</li>
</ul>

In [16]:
2**3

8

In [32]:
3**2

9

In [19]:
minutes = 645
hours = minutes // 60

print(hours)

10

In [20]:
7/4

1.75

In [21]:
7//4

1

<h3>Data Type Conversion: int(), float(), str()</h3>
<p>
<ul>
<li> <b>int(x)</b> : convert the value of x to integer</li>
<li> <b>float(x)</b> : convert the value of x to float</li>
<li> <b>str(x)</b> : convert the value of x to string</li>
</ul>
</p>

In [22]:
int(3.14)

3

In [23]:
int(3.99999999)

3

In [24]:
int(3.0)

3

In [25]:
int(minutes / 60)

10

In [26]:
type(int("2345"))

int

In [27]:
int(17)

17

In [29]:
int("abc 123") # the value "abc 123" cannot be converted to integer!

ValueError: invalid literal for int() with base 10: 'abc 123'

In [30]:
float(27)

27.0

In [31]:
float("123.45")

123.45

In [32]:
str(17)

'17'

In [33]:
str(123.45)

'123.45'

<h3>Operator Precedence</h3>
<p>An operator precedence determines the order in which operators in a compound expression are executed. The precedence of the math operators, from highest to lowest, are</p>
<ul>
<li>Exponentiation: \*\*</li>
<li>Multiplication, division, and remainder: \*, /, //, %</li>
<li>Addition and subtraction: +, -</li>
</ul>
<p>When two operators with the same precedence share an operand, the operators execute from left to right.</p>

In [36]:
2**3**2

512

In [37]:
(2**3)**2

64

In [38]:
(minutes * 100) / 60

1075.0

In [39]:
# operation on string
message

"What's up?"

In [40]:
message*3

"What's up?What's up?What's up?"

In [41]:
# Input
age = int(input('Please enter your age: '))

Please enter your age: 18

In [42]:
type(age)

int

In [43]:
# modulus
6%2

0

In [44]:
# example : calculate the area of circle
# area = pi*r*r

r = float(input("What is you radius? "))
print("The area is ",3.14159*r*r)

What is you radius? 3
The area is  28.274309999999996

<h2>Miscellanies</h2>
<h3>Reading input from the keyboard</h3>
<p>In Python, we normally use the <b>input</b> function to read input from the keyboard.</p>

In [9]:
name = input('What is your name? ')

What is your name? Krikamol

In [10]:
print(name)

Krikamol

<p>The <b>input</b> function always returns the input as a string. To obtain integer or floating-point number, we can use the data type conversion functions.</p>

In [11]:
width = input('Enter width: ')

Enter width: 10

In [12]:
height = input('Enter height: ')

Enter height: 10

In [13]:
# this will not work
area = width*height

TypeError: can't multiply sequence by non-int of type 'str'

In [14]:
width = int(input('Enter width: '))

Enter width10

In [15]:
height = int(input('Enter height: '))

Enter height: 10

In [16]:
area = width*height

In [17]:
print(area)

100